<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gattify.com.gattify">

    <application
        android:label="Gattify"
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/beer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name="gattify.com.gattify.MainActivity"
            android:label="Gattify"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="gattify.com.gattify.TableActivity"></activity>



    </application>


</manifest>
